.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background: transparent;
    position: relative;
}
.header nav {
    background: transparent;
}

.header ul {
    display: inline;
}

.header ul li {
    display: inline;
}
.header li a{
    padding: 10px 10px;
    font-weight: bold;
    cursor: pointer;
    
}
.header li a:hover{
    color: mediumturquoise;
    border-bottom: 3px solid mediumturquoise;
    transform: border-buttom linear .1s;
    
}